body {
    margin: 0;
    padding: 0;
    background-color: #F5F2EE;
    font-size: 16px;
}

.shop-page{
    max-width: 1500px;
    margin: auto;
}

.shop-page-heading {
    margin: 1rem 1rem;
    font-family: 'Luxurious Script', cursive;
} 

.discover-your-new,
.signature-scent {
    text-align: left;
    /* font-family: 'Luxurious Script', 'cursive'; */
    /* font-family: PlayfairDisplay; */
    font-weight: 550;
    margin: 0 1rem;
}

.shop-line {
    width: 60%;
    height: 0.1px;
    background-color: #241B19;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    margin-left: 2rem;
}